.notif-card {
  --background: #e6f0ff;
  border-radius: 14px;
  margin: 8px 0;
  padding: 8px;
  box-shadow: 0 3px 6px rgba(0, 122, 255, 0.2);
  animation: fadeInNotif 0.5s ease forwards;

  ion-item {
    --background: transparent;

    ion-label {
      h2 {
        font-weight: bold;
        color: #007aff;
        margin-bottom: 3px;
      }

      p {
        color: #333333;
        font-size: 14px;
      }
    }

    ion-avatar {
      img {
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #007aff;
      }
    }
  }
}

.list-notifications {
  background: transparent;
  padding: 0 5%;
  margin-bottom: 10%;
}

@keyframes fadeInNotif {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.buttom-comment{
  display: flex;
  max-width: 50%;
  margin: 5% auto 20%;
}
