<ion-spinner *ngIf="loading" name="crescent" style="display:block; margin:50% auto;"></ion-spinner>

<ion-list class="list-notifications" *ngIf="!loading && mensajes.length">
    @for (m of mensajes; track m){
        <ion-card class="notif-card">
            <ion-item lines="none">
                <ion-avatar slot="start">
                    <img [src]="m.user.photo ? m.user.photo : 'assets/default-avatar.jpg'" alt=""/>
                </ion-avatar>
                <ion-label>
                    <h2>{{ m.user.full_name}}</h2>
                    <p>{{ m.content }}</p>
                </ion-label>
            </ion-item>
        </ion-card>
    }
</ion-list>

<ion-button class="buttom-comment"
            color="primary" (click)="abrirModal()">
    Escribir
</ion-button>

<div *ngIf="!loading && !mensajes.length" style="text-align:center; color:#555; margin-top:20px;">
    No hay notificaciones
</div>
