// Variables de estilo
$primary-color: #3880ff;
$secondary-color: #92949c;
$text-color: #222428;

.strength-bar {
  height: 100%;
  width: 0%; // Empieza vacía, se actualiza con [style.width.%]
  background: linear-gradient(to right, red, yellow, green);
  transition: width 0.3s ease-in-out;
  z-index: 11;
}
.settings-container {
  padding: 16px;

  // Sección de usuario
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

    .avatar-container {
      position: relative;
      margin-bottom: 12px;

      .profile-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $primary-color;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .edit-photo-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon {
          font-size: 18px;
          color: $primary-color;
        }
      }
    }

    .username-item {
      background-color: transparent;
      width: 110%;
      margin-bottom: 8px;

      .username-input {
        border-radius: 8px;
        padding: 8px 12px;
        color: $text-color;
      }
    }

    .section-label {
      margin-top: 4px;
      font-size: 14px;
      color: $secondary-color;
      text-align: center;
    }
  }

  // Lista de ajustes
  .settings-list {
    background-color: transparent;
    margin-bottom: 16px;

    .settings-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      ion-input {
        width: 100%;
        border-radius: 8px;
        padding: 8px 12px;
        color: $text-color;
      }

      .toggle-password-btn {
        ion-icon {
          color: $primary-color;
        }
      }
    }
  }

  // Línea divisoria
  .divider {
    height: 1px;
    margin: 16px 0;
  }

  // Botones de acción
  .action-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .save-button {
      background-color: $primary-color;
      color: #fff;
      border-radius: 8px;
      ion-icon {
        margin-right: 6px;
      }
    }

    .logout-button {
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 8px;
      ion-icon {
        margin-right: 6px;
      }
    }
  }
}