.calendar {
  margin-top: 10%;
  margin-bottom: 10%;
  -moz-border-radius: 40px;
  --background: #4b4b4b;
}

.date-buttom {
  max-width: 300px;
  margin: 20px auto;
  padding: 15px 20px;
  background-color: #f0f8ff;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade {
  animation: fadeInUp 0.3s ease forwards;
}


.animate-fade-out {
  animation: fadeOutUp 0.3s ease forwards;
}




