.message-title {
  width: 90%;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  margin: 20px auto;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}
