.message-title{
  width: 90%;
  background: rgba(0, 0, 0, 0.55);
  text-align: center;
  padding: 0.6rem 1rem;
  border-radius: 50px;
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  margin: 10% auto 10px;
}